body {
    margin: 0;
    padding: 0;
    font-family: HaasText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}

#Nav {
    display: flex;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;


}

nav {
    display: flex;
    width: 50%;
}

#left {
    justify-content: space-between;
    padding: 0px 1%;
}

#left>.logo {
    display: flex;
    align-items: center;
}

#links {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


#links a {
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-weight: 500;

}

.logo {
    width: 22%;
    overflow: hidden;


}


#left img {
    width: 100%;

}

#right {
    align-items: center;
    justify-content: end;
    padding: 20px;
}

#Nav-con {
    padding: 6px 15px;
    font-size: 16px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid #949494;
}

#Nav-sinup {
    padding: 8px 15px;
    font-size: 16px;
    margin-left: 15px;
    border-radius: 10px;
    background-color: #0767f8;
    border: none;
    color: white;
}

#right>p {
    margin-left: 15px;
}

.body {
    height: 700px;

    display: flex;
    justify-content: space-between;
    background-color: transparent;


}


/* .scrolled {
    

} */






.body {
    z-index: 9;
    width: 100%;
    height: 90%;

    position: absolute;
    display: none;







}

#dropdown {
    width: 40%;
    position: relative;
    overflow: hidden;
    height: auto;



}

#transparent {
    width: 60%;
    background-color: #ffffff10;
    backdrop-filter: blur(5px);

}



.body #dropdown>div {
    width: 100%;
    height: 100%;
    background-color: white;
    line-height: 10px;
    padding: 32px 0px 0px 0px;
    overflow: hidden;





}

.body #dropdown .top-card>div {
    font-size: 18px;
    font-weight: bold;
}

.body #dropdown .top-card {
    padding: 12px 48px;
    width: 100%;

}

.body #dropdown .bottom-card>div {
    padding: 12px 48px;
    height: 100%;
    line-height: 20px;

}

.bottom-card {

    position: absolute;
    bottom: 0px;
    background-color: #f0f6ff;
    overflow-y: auto;

    width: 100%;
    right: 0px;


}


.body #dropdown>div>div>p {
    color: #92969f;
    font-size: 16px;
}

.Products {
    position: absolute;
    /* display: none; */
    z-index: 0;
    bottom: 0;
    top: 0;


}

.solutions {
    position: absolute;
    z-index: -1;



    bottom: 0;
    top: 0;




}

.solutions>.bottom-card>div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}






.body>div>.Enterprise {
    position: absolute;
    z-index: -2;



    bottom: 0;
    top: 0;




}


.body>div>.Resources {
    position: absolute;
    z-index: 4;


    bottom: 0;
    top: 0;



}

.Resources>.resourses-top {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
    position: relative;
}

.Resources>.resourses-top>div {

    bottom: 0;
}

.Resources>.resourses-top>div ul>li>a {

    text-decoration: none;
    line-height: 10px;

}

.Resources>.resourses-top>div ul>li {
    list-style: none;


}



.homepage {
    position: relative;
    top: 0px;

    height: 1200px;
    z-index: 8;
    background-color: teal;
    display: flex;
    justify-content: right;
}

#box {
    width: 200px;
    height: 200px;
    background-color: #0767f8;
}

.boom {
    display: flex;
}

.boom2 {
    z-index: 1;
}